body {
    overflow: hidden;
    margin: 4px;
}

.LogoContainer {
    width: 40px;
    height: 40px;
    position: relative;
}

.Navi_Bar {
    height: 40px;
    background-color: rgb(33, 33, 169);
    color: aliceblue;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    overflow-y: hidden;
}

.Container_Left {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

.Singers_List {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    max-height: 100%;
    overflow: hidden; 
    overflow-y: scroll;
    min-width: 120px;
}

.Songs_List {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    max-height: 100%;
    overflow: hidden; 
    overflow-y: scroll;
    min-width: 240px;
    max-width: 240px;
}

.Song_Button {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
}

.Image {
    width: 90%;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Image_List {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
    overflow-y: scroll;
}

.Youtube_Container {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}